<nav class="navbar p-4 navbar-expand-xxl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mi Pgina</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="fs-5 collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/carrito">Carito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar session</a>
                </li>
{{!--                 <li class="nav-item">
                    <a class="nav-link disabled"></a>
                </li> --}}
            </ul>
        </div>
    </div>
</nav>